<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>创办竞赛申请提交</title>
	</head>
	<body>
		<table style="width:100%; margin: 0; padding: 40px 0 20px 0;border: none;">
			<tr style=" margin: 0; padding: 0;">
				<td bgcolor="#FFFFFF" style=" padding: 0;margin: 0;clear: both !important; display: block !important; max-width: 700px !important; margin: 0 auto; padding: 5px; border-width:0;box-shadow: 0 1px 2px rgba(9, 2, 1, 0.1), 0 0 10px rgba(0, 0, 0, 0.06); ">
					<table style="padding: 0;margin: 0;width: 100%;" cellpadding="0" cellspacing="0" border="0">
						<tr style="padding: 0;margin: 0;">
							<!-- logo title start -->
							<td style="font-size: 28px;padding:10px;text-align: center;background: #3498DB;color: white;font-family: PingFangSC-Light,'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;letter-spacing: -0.86px;">
								<p>竞技乎大数据竞赛平台</p>
							</td>
							<!-- logo title end -->
						</tr>
						<tr>
							<!-- content start -->
							<td style="font-size:18px;padding: 40px;line-height: 40px;letter-spacing: 0;font-family: PingFangSC-Regular,'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #222534;">
								<p style="font-size: 24px;">您好！</p>
								<p>
									创建竞赛合作申请消息，请在3日内尽快处理。内容如下：
								</p>
								<center>
									<table style="background-color:#3498DB;padding: 1px;" cellpadding="5" cellspacing="1">
										<tr style="background-color: #FFFFFF;">
											<th>真实姓名</th><td>${request.userName}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>公司名称</th><td>${request.companyName}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>职位名称</th><td>${request.jobTitle}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>联系方式</th><td>${request.contact}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>邮箱</th><td>${request.email}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>公司规模</th><td>${request.companyScale}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>公司性质</th><td>${request.companyType}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>比赛目的</th><td>${request.purpose}</td>
										</tr>
										<tr style="background-color: #FFFFFF;">
											<th>得知竞技乎数据竞赛的渠道</th><td>${request.channel}</td>
										</tr>
									</table>
								</center>
								<p style="text-align: right;font-size: 14px;">
									from 竞技乎数据竞赛组委会
								</p>
							</td>
							<!-- content end -->
						</tr>
						<tr>
							<!-- footer start-->
							<td bgcolor="#080808" style="background-image:url('http://jinji.hu/v2/static/app/img/background/5.jpg');">
								<table style="width: 100%;padding: 40px;">
									<tr>
										<td style="line-height: 40px;font-size: 14px;font-family: PingFangSC-Light,'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color: #FFFFFF;letter-spacing: 0;padding:0;vertical-align: top;">
											<p style="font-size:24px;vertical-align: top;margin: 0;">竞技乎</p>
											<p style="padding-top: 10px;">
												一个专注于数据领域专业竞赛及致力于打造数据科学家线上社区的平台
											</p>
											<p style="padding-top: 10px;">
												这封邮件是由竞技乎数据竞赛组委会发送。
												<BR> 如果您对邮件内容有任何疑问请联系
												<a href="mailto:info@deveco.io" style="color:#3498DB;">info@deveco.io</a>
											</p>
										</td>
										<td style="text-align: left;">
											<a href="//jinji.hu/v2" target="_blank"><img src="http://jinji.hu/v2/static/app/img/logo_portrait_white.png" height="200px;" /></a>
										</td>
									</tr>
								</table>
							</td>
							<!-- footer end-->
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>